*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:focus{
	border-color: 0;
}
:active{
	border-color: #f39c12;
}
a{
	color: #f39c12;
	text-decoration: none;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out; ;
	-moz-transition: all .2s ease-in-out; ;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}
.header-menu-trip{
	width: 100%;
	height: 100vh;
	background-image: url('images/hotel/Tehran-ParsianEsteghlal-65.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.header-menu-trip .nav-header-trip{
	position: relative;
}
.header-menu-trip .nav-header-trip #button-bar{
	border-color: #f39c12;
}
.header-menu-trip #button-bar span .bar-icon{
	color: #f39c12;
	margin-top: 5px
}
.nav-header-trip ul li {
	text-align: right;
	margin: 10px;
}
.nav-header-trip ul li a:hover{
	color: #f1c40f;
}
.login-2{
	text-align: right;
}
.login-2 input{
	width: 100%;
	padding: 10px;
	margin: 10px;
	border: none;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
	border-radius: 10px;
}
.login-2 .modal-body a{
	display: flex;
	justify-content: center;
	background-color: #ffc107;
	border-radius: 5px;
	border: solid 2px #ffc107;
}
.login-2 .modal-body a:hover{
	background-color: transparent;
	border: solid 2px #ffc107;
}
.header-menu-trip .login-2 button{
	margin-right: 30rem;
}
.text-slider-header{
	padding: 180px 0 40px;
}
.text-slider-header{
	color: #fff;
	text-align: right;
}
.text-slider-header p{
	height: 150px;
	overflow: hidden;
	line-height: 30px;
}
.search-bar-header{
	height: 110px;
	width: 100%;
	padding: 10px;
	border-radius: 15px;
	box-shadow: 0 3px 6px rgba(0,0,0,.15);
	background-color: #f7f7f7;
	display: inline-block;
	position: relative;
}
.search-bar-header label{
	margin: 0 30px;
	float: right;
}
.search-bar-header form input,.search-bar-header form select{
	width: 17%;
	height: 40px;
	float: right;
	margin: 36px -35px;
}
.search-bar-header form input:focus{
	border-color: #f39c12;
}
.search-bar-header form button{
	background-color: #f39c12;
	padding: 10px 15px;
	margin: 30px 10px;
	border: solid 2px #f39c12;
	border-radius: 15px;
	box-shadow: 0 3px 6px rgba(0,0,0,.15);
}
.search-bar-header form button:hover{
	background-color: transparent;
	border: solid 2px #f39c12;
}
.faimes-travel-section{
	padding: 100px 0;
	position: relative;
}
.title-header-section{
	text-align: right;
}
.title-header-section h5{
	color: #f39c12;
	font-size: 18px;
	margin-top: 10px;
}
.faimes-travel-section {
	width: 100%;
}
.faimes-travel-section .owl-carousel{
	margin-top: 50px;
}
.faimes-travel-section .owl-item-costomer img{
    border-radius: 7px;
    height: 220px;
    overflow: hidden;
}
.faimes-travel-section .owl-item-costomer{
    width: 100%;
    height: 220px;
    margin: 20px 10px;
    padding: 10px;
}
.faimes-hotel-section{
	background-color: #333;
	width: 100%;
	padding: 70px 0;
	position: relative;
}
.faimes-hotel-section .title-header-section h3{
	color: #fff;
}
.faimes-hotel-section .owl-carousel{
	margin-top: 50px;
}
.faimes-hotel-section .owl-item-costomer img{
    border-radius: 7px;
    height: 220px;
    overflow: hidden;
}
.faimes-hotel-section .owl-item-costomer{
    width: 100%;
    height: 220px;
    margin: 20px 10px;
    padding: 10px;
}
.travel-section{
	width: 100%;
	padding: 70px 0;
	position: relative;
}
.travel-section .owl-carousel{
	margin-top: 50px;
}
.travel-section .owl-item-costomer img{
    border-radius: 7px;
    height: 220px;
    overflow: hidden;
}
.travel-section .owl-item-costomer{
    width: 100%;
    height: 220px;
    margin: 20px 10px;
    padding: 10px;
}
.text-trip-section{
	width: 100%;
	padding: 70px 0;
	position: relative;
	text-align: right;
}
.text-trip-section h2{
	margin: 20px 0;
}
.text-trip-section p{
	height: 300px;
	overflow: hidden;
	line-height: 30px;
}
.blog-trip-section{
	padding: 110px 0;
	width: 100%;
	position: relative;
}
.blog-trip-section .box-blog-trip{
	margin: 20px 0;
	border-radius: 15px;
	text-align: right;
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
.blog-trip-section .box-blog-trip figure img{
	width: 100%;
	height: 300px;
	overflow: hidden;
	border-radius: 15px 15px 0 0;
}
.blog-trip-section .box-blog-trip span{
	font-size: 12px;
	color: #999;
	padding: 0 15px;
}
.blog-trip-section .box-blog-trip a h2{
	padding: 0 15px;
}
.blog-trip-section .box-blog-trip a:hover{
	color: #f1c40f;
	text-decoration: none;
}
.blog-trip-section .box-blog-trip p{
	padding: 15px;
	margin: 10px;
	width: 100%;
	height: 130px;
	overflow: hidden;
	line-height: 30px;
}
.footer-trip{
	background-color: #ecf0f1;
	width: 100%;
	padding: 70px 0 50px;
	position: relative;
	text-align: right;
}
.footer-trip p{
	width: 100%;
	height: 250px;
	overflow: hidden;
	line-height: 28px;
}
.footer-trip h4{
	font-size: 18px;
	margin-top: 10px;
}
.footer-trip .navbar ul li a:hover{
	color: #f1c40f;
}
.footer-trip a img{
	width: 25%;
	height: 120px;
	border-radius: 15px;
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
.footer-trip a img:hover{
	opacity: .8;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out; ;
	-moz-transition: all .3s ease-in-out; ;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
}
/* شروع کد نویسی برای صفحه تماس با ما     .....contact......*/
.menu-trip2-header{
	width: 100%;
	padding: 15px 0;
	position: fixed;
	z-index: 1000;
	background-color: #fff;
	box-shadow: 0 2px 3px rgba(0,0,0,.15);
}
.menu-trip2-header .login-2 button{
	margin: 0 26rem 0 0;
}
.menu-trip2-header a.nav-link {
	margin: 0 10px;
}
.menu-trip2-header a.nav-link:hover{
	color: #f1c40f;
	border-radius: 10px;
	border: 1px solid #f1c40f;
}
.contact-trip-section{
	width: 100%;
	padding: 100px 0;
	position: relative;
}
.contact-trip-section .text-header-contact{
	margin: 15px auto;
	display: table;
}
.contact-trip-section .text-header-contact h2{
	font-size: 23px;
	color: #f39c12;
}
.contact-trip-section form{
	width: 100%;
}
.contact-trip-section input{
	width: 100%;
	padding: 12px;
	margin: 10px 0;
	background-color: #ecf0f1;
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	border: none;
}
.contact-trip-section textarea{
	width: 100%;
	height: 300px;
	padding: 12px;
	margin: 10px 0;
	border: none;
	background-color: #ecf0f1;
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
.contact-trip-section a.btn-contact{
	width: 100%;
	padding: 12px;
	background-color: #f39c12;
	border: solid 1px #f39c12;
}
.contact-trip-section a:hover{
	border: solid 1px #f39c12;
	background-color: transparent;
}
.contact-trip-section .address-text{
	float: right;
	width: 50%;
	text-align: right;
	margin-top: 15px;
}
.contact-trip-section .number-contact{
	float: left;
	width: 50%;
	margin-top: 15px;
}
.circle-icon{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0,0,0,.15);
	background-color: #f39c12;
}
.circle-icon .icon-contact{
	margin: 8px;
}
.sootial{
	width: 100%;
	position: relative;
}
.sootial a{
	color: #777;
	margin: 10px;
	float: right;
	font-size: 22px;
}
.sootial a:hover{
	color: #f39c12;
}
.list-page-blog{
	margin: 7px auto;
	display: table;
}
.list-page-blog nav ul li{
	margin: 0 5px;
}
.list-page-blog .page-item{
	border-radius: 10px;
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
.list-page-blog nav ul li a{
	border-radius: 10px !important;
	color: #f39c12;
	border: none;
}
.list-page-blog nav ul li a:hover{
	color: #333;
}
.list-page-blog nav ul li a:active{
	color: #333;
	background-color: #f39c12;
}
.list-page-blog nav ul li a:focus{
	color: #333;
	border: 1px solid #f39c12;
	box-shadow: 0 1px 2px rgba(0,0,0,.30);
}
.hotel-categury-section{
	width: 100%;
	padding: 100px 0;
	position: relative;
	text-align: right;
}
.hotel-categury-section .hotel-titel-header h2{
	color: #f39c12;
	text-align: center;
}
.hotel-categury-section .hotel-titel-header p{
	width: 100%;
	height: 70px;
	overflow: hidden;
	font-size: 18px;
	margin: 10px 0;
	padding: 10px;
	text-align: justify;
}
.hotel-categury-section .card-hotel-categury{
	width: 100%;
	position: relative;
	margin: 10px 0;	
}
.card-hotel-categury .card{
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	border: none;
	text-align: right;
}
.card-hotel-categury .card-title{
	color: #f39c12;
}
.card-hotel-categury .btn-warning{
	width: 90%;
	margin: 10px auto;
	display: table;
}
.card-hotel-categury .card-text{
	height: 70px;
	overflow: hidden;
	margin: 10px 0;
}
/* کد نویسی صفحه  شخصی هتل ها از این جا شروع میشه ......product.hotel..... */
.product-hotel-section{
	padding: 150px 0;
	width: 100%;
	position: relative;
	text-align: right;
}
.product-hotel-section .images-hotel-big{
	width: 100%;
	height: 350px;
	overflow: hidden;
	margin: 10px;
	border-radius: 7px ;
	box-shadow: 0 1px 3px rgba(0,0,0,.15);
}
.product-hotel-section .images-hotel-small{
	width: 100%;
}
.product-hotel-section .images-hotel-small a img{
	width: 25%;
	height: 170px;
	overflow: hidden;
	margin: 10px 15px;
	border-radius: 7px ;
	box-shadow: 0 1px 3px rgba(0,0,0,.15);
}
.product-hotel-section .ghimat-hotel{
	width: 100%;
	padding: 5px;
	margin: 3rem 0;
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	border-radius: 7px;
	display: inline-block;
}
.product-hotel-section .ghimat-hotel h2{
	margin: 15px;
}
.product-hotel-section .ghimat-hotel img{
	width: 18%;
	height: 150px;
	overflow: hidden;
	border-radius: 7px;
	box-shadow: 0 2px 3px rgba(0,0,0,.15);
}
.product-hotel-section .ghimat-hotel .number-bedroom-hotel{
	display: inline-block;
	color: #999;
	margin: 18px 10px 10px;
}
.product-hotel-section .ghimat-hotel .food-hotel{
	margin: 0 60px;
	display: inline-block;
	color: #f39c12;
}
.product-hotel-section .ghimat-hotel a{
	padding: 30px 40px;
	margin: 10px;
	float: left;
}
.product-hotel-section .box-icon-hotel{
	width: 100px;
	height: 100px;
	border: 2px solid #f39c12;
	background-color: #fff;
	box-shadow: 0 1px 5px rgba(0,0,0,.2);
	border-radius: 7px;
	margin: 50px 10px;
	padding: 12px;
	float: right;
}
.product-hotel-section .box-icon-hotel h5{
	font-size: 14px;
	text-align: center;
	padding: 5px;
}
.product-hotel-section .box-icon-hotel .icon-box{
	margin: 0 auto 7px;
	display: table;
	font-size: 2rem;
	color: #f39c12;
}
.product-hotel-section .right-title-possibilities{
	color: #f39c12;
	margin: 10px;
}
.possibilities-box-hotel{
	width: 100%;
	position: relative;
	padding: 15px;
	margin: 20px 0 0;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	border-radius: 7px;
}
.possibilities-box-hotel .special-hotel .special-icon-box{
	color: #f39c12;
	float: left;
}
.product-hotel-section .map-show-hotel{
	padding: 30px 0;
}
.product-hotel-section .map-show-hotel h3{
	margin: 20px 0;
}
.modal-ghimat-hotel{
	width: 100%;
	position: relative;
	padding: 15px;
	text-align: right;
}
.modal-ghimat-hotel form{
	display: inline;
}
.modal-ghimat-hotel input{
	width: 30%;
	margin: 10px;
	padding: 10px;
	color: #000;
	border: none;
	border-radius: 7px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}
.modal-ghimat-hotel select{
	width: 30%;
	margin: 10px;
	padding: 10px;
	color: #000;
	border: none;
	border-radius: 7px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}
.modal-ghimat-hotel .total{
	width: 30%;
}
.modal-ghimat-hotel button{
	width: 100%;
	margin-top: 1rem;
}
.modal-header .close{
	padding: 0;
	margin: 0;
}
.modal-ghimat-hotel input:focus-visible{
	border: none;
}
/*اطلاعات و ادرس و شماره مشتری  .....address card shapping.....*/
.address-shapping-section{
	padding: 150px 0;
	width: 100%;
	position: relative;
	text-align: right;
}
.address-shapping-section form{
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	border-radius: 15px;
	padding: 15px 30px;
}
.address-shapping-section form .form-section-shoping{
	display: inline-block;
	width: 45%;
	margin: 10px 15px;
	color: #999;
}
.address-shapping-section form .form-section-shoping input{
	padding: 15px;
	border: none;
	border-radius: 7px;
	box-shadow: inset 0px 1px 2px rgba(0,0,0,.2);
}
.address-shapping-section form textarea{
	width: 100%;
	height: 200px;
	margin: 15px 10px;
	padding: 10px;
	line-height: 30px;
	border: none;
	border-radius: 7px;
	box-shadow: inset 0px 1px 2px rgba(0,0,0,.15);
}
.address-shapping-section form a{
	padding: 15px;
	margin: 0 15px;
	display: inherit;
}
/*404 style*/
.bg-gradient-404{
	background-image: linear-gradient(#5B0D87,#000);
	width: 100%;
	height: 100vh;
}
.menu-bg-404{
	width: 100%;
	display: inline-block;
	position: relative;
	padding: 10px 10px 40px; 
}
.container{
	width: 1100px;
	margin:0 auto;
	display: table;
}
.menu-bg-404 .left-logo{
	width: 50%;
	float: left;
}
.menu-bg-404 .right-menu{
	width: 50%;
	float: right;
	text-align: right;
	display: inline-block;
	position: relative;
}
.menu-bg-404 .right-menu ul li{
	list-style: none;
	float: right;
	margin:10px;
}
.menu-bg-404 .right-menu ul li a{
	text-decoration: none;
	font-size: 23px;
	color: #fff;
	padding: 10px;
}
.menu-bg-404 .right-menu ul li a:hover{
	color: #999;
}
.body-404{
	width: 100%;
	display: block;
	position: relative;
}
.body-404 .right-animate{
	width: 50%;
	position: relative;
	display: inline-block;
	float: left;
}
.body-404 .right-animate p.four{
	font-size: 220px;
	display: inline-block;
	margin: 40px 140px 0 0;
	color: #fff;
}
.body-404 .right-animate .animate-ziro{
	width: 160px;
	height: 160px;
	margin: -183px 145px 0 123px;
	position: absolute;
	border: solid 7px #fff;
	border-radius: 20px; 
	z-index: 100;
	transform: rotate(45deg);
}
.body-404 .right-animate .animate-ziro .face-animate{
	width: 70px;
	height: 70px;
	margin: 0 auto;
	display: table;
	transform: rotate(45deg);
}
.body-404 .right-animate .animate-ziro .eyes-animate{
	width: 10px;
	height: 10px;
	background-color: #fff;
	margin: 45px 0 0 60px;
	border-radius: 50%;
}
.body-404 .right-animate .animate-ziro .leeps-animate{
	width: 7px;
	height: 30px;
	background-color: #fff;
	margin: -45px 95px;
}
.body-404 .left-text{
	display: block;
	position: relative;
	float: right;
	width: 50%;
	color: #fff;
	text-align: right;
	padding: 0 30px;
}
.body-404 .left-text h2{
	font-size: 70px;
	margin: 20px 0;
	padding: 30px 0;
}
.body-404 .left-text p{
	font-size: 25px;
	line-height: 30px;
	height: 50px;
	overflow: hidden;
	margin: 15px 0;
}
.body-404 .left-text a.btn-404{
	background-color: transparent;
	border-radius: 30px;
	border: solid 3px #fff;
	text-align: center;
	padding: 15px 45px;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
}
.body-404 .left-text a.btn-404:hover{
	background-color: #fff;
	color: #111;
}
.sotial-404{
	margin: 40px auto;
	display: table;
	color: #fff;
}
.sotial-404 .icone-sotial{
	margin:10px;
	font-size: 25px;
}
